<main class="dashboard-container">

  <div class="data workouts">
    <a href="/workout">
      <h2>Treino A</h2>
      <div class="data-info">
        <i class="ph ph-users"></i>
        <span>{{usersCount}}</span>
      </div>
    </a>
  </div>

  <div class="data workouts">
    <a href="/workout">
      <h2>Treino B</h2>
      <div class="data-info">
        <i class="ph ph-scales"></i>
        <span>{{measurementCount}}</span>
      </div>
    </a>
  </div>

  <div class="data workouts">
    <h2>Treino C</h2>
    <a href="/workout">
      <div class="data-info">
        <i class="ph ph-scales"></i>
        <span>{{measurementCount}}</span>
      </div>
    </a>

  </div>

  <div class="data workouts">
    <a href="/workout">
      <h2>Treino D</h2>
      <div class="data-info">
        <i class="ph ph-scales"></i>
        <span>{{measurementCount}}</span>
      </div>
    </a>
  </div>

  <div class="data workouts">
    <a href="/workout">
      <h2>Treino E</h2>
      <div class="data-info">
        <i class="ph ph-scales"></i>
        <span>{{measurementCount}}</span>
      </div>
    </a>
  </div>

</main>